:root {
    --trancision1: 0.3s;
    --cada-item: 36px;
    --cantidad-items: 0;
}

* {
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    min-height: 100vh;
    margin: 0;
    font-family: Arial;
    font-size: 16px;
    background-image: linear-gradient(rgba(255, 255, 255, 0.856), rgba(255, 205, 205, 0.925));
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/*****************************************/

/*Menú lateral*/

header {
    width: 160px;
    background: #ffa1a1;
    border-radius: 12px;
    margin: 15px;
}

.logo img {
    width: 130px;
    height: 90px;
    margin: 23px;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    line-height: 16px;
}

nav ul a {
    color: #fff;
    background: #ff9e9e;
    display: block;
    width: 100%;
    padding: 10px 0;
    text-align: center;
    text-decoration: none;
}

nav ul ul {
    height: 0;
    overflow: hidden;
    transition: .2s;
}

nav ul li:hover ul {
    height: 100px;
}

nav ul li:hover ul.sb {
    height: calc(var(--cantidad-items) * var(--cada-item));
}

nav ul ul a {
    background: #ff6969;
}

/*Para el fondo*/

.registro{
    width: 750px;
    margin: 6% auto;
    padding: 10px;
    background: #fbb4b4;
    border-radius: 12px;
}

/*Los titulos*/
.registro .empleados h2{
    font-size: 30px;
    margin-left: 20px;
}

/*El texto debajo del segundo titulo*/
.registro .empleados p{
    font-style: italic;
    font-size: 20px;
    margin-left: 25px;
}

/*Para la letra*/
.registro .empleados label{
    color: #fff;
    font-size: 20px;
}

/*Campos de texto*/
.barra{
    background-color:#ffd4d2de;
    border-radius: 5px;
    font-size: 18px;
    border: none;
    width: 240px;
    margin-top: 8px;
}

/*Dividir la pagina*/
.registro .empleados{
    width: 600px;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 60px;
}

/*Para el boton*/
.registro .empleados button[type = "submit"]{
    margin: 14px;
    padding: 10px 30px;
    border-radius: 12px;
    border: #fff;
    background-color: #f14444;
    color: #fff;
    display: block;
    margin-left: 90%;
}

.registro .empleados button[type="submit"]:hover {
    background-color: #e69581;
}


/*Responsive*/
@media(max-width: 800px){
    .registro{
        width: 390px;
        height: auto;
        display: flex;
        justify-content: center;
    }

    .registro .empleados{
        grid-template-columns: repeat(1, 1fr);

    }

    .registro .empleados label{
        padding: 15px;
    }
    .registro .empleados button[type="submit"]{
        display: block;
        margin-left: 30%;
    }

    .registro .empleados .barra{
        margin-left: 50px;
    }

    

}
