:root{
    --trancision1: 0.3s;
    --cada-item: 36px;
    --cantidad-items: 0;
}

* {
    padding: 0;
    margin: 0;
}

body{
    display: flex;
    min-height: 100vh;
    margin: 0;
    font-family: Arial;
    font-size: 16px;
    background-image: linear-gradient(rgba(255, 255, 255, 0.856), rgba(255, 205, 205, 0.925));
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/*****************************************/

/*Menú lateral*/

header{
    width: 160px;
    background: #ffa1a1;
    border-radius: 12px;
    margin: 15px;
}

.logo img {
    width: 130px;
    height: 90px;
    margin: 23px;
}

nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
    line-height: 16px;
}

nav ul a{
    color: #fff;
    background: #ff9e9e;
    display: block;
    width: 100%;
    padding: 10px 0;
    text-align: center;
    text-decoration: none;
}

nav ul ul{
    height: 0;
    overflow: hidden;
    transition: .2s;
}

nav ul li:hover ul{
    height: 100px;
}

nav ul li:hover ul.sb{
    height: calc( var(--cantidad-items) * var(--cada-item));
}

nav ul ul a{
    background: #ff6969;
}

/*Para el fondo*/

.registro{
    width: 500px;
    margin: 6% auto;
    padding: 10px;
    background: #fbb4b4;
    border-radius: 12px;
}

/*Titulo*/
.registro .proveedores h2{
    font-size: 35px;
    margin-left: 40px;
}

/*Letra*/
.registro .proveedores label{
    font-size: 20px;
    margin-left: 20px;
    color: #fff;
}

/*Para las barras de texto*/
.registro .proveedores .barra{
    width: 250px;
    border-radius: 5px;
    border: none;
    font-size: 18px;
    margin-top: 8px;
    background-color: #ffd4d2de;
}

/*Campo de texto*/
.registro .proveedores textarea{
    border-radius: 5px;
    border: none;
    margin-left: 12px;
    margin-top: 9px;
    background-color: #ffd4d2de;
}

/*Boton*/
.registro .proveedores button[type = "submit"]{
    margin: 12px;
    padding: 10px 30px;
    border-radius: 12px;
    border: none;
    background-color: #f14444;
    color: #fff;
    margin-left: 38%;
}

.registro .proveedores button[type="submit"]:hover {
    background-color: #e69581;
}


/*Responsive*/
@media(max-width: 800px){
    .registro{
        width: 390px;
        height: auto;
        display: flex;
        justify-content: center;
    }

    .registro .proveedores label{
        padding: 15px;
    }
    .registro .proveedores button[type="submit"]{
        display: block;
        margin-left: 35%;
    }

    .registro .proveedores .barra{
        margin-left: 50px;
    }

    .registro .proveedores textarea{
        margin-left: 12px;
        margin-right: 12px;
        max-width: 350px;
    }

}