/*fondo*/

* {
    padding: 0;
    margin: 0;
}

body {
    background-image: linear-gradient(rgba(255, 255, 255, 0.856), rgba(255, 205, 205, 0.925));
    background-repeat: no-repeat;
    background-attachment: fixed;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10px;
    background-color: #ffa1a1;
    border-radius: 12px;
    margin: 20px;
}

/*barra de navegación*/

nav {
    color: #fff;
}

nav .list-menus ul {
    margin: 0;
}

nav .list-menus li {
    display: inline-block;
    margin-right: 20px;
}

nav .list-menus a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
}

nav .list-menus a:hover {
    background-color: #b46e6e;
    border-radius: 12px;
}

input[type="search"] {
    width: 20%;
    padding: 10px;
    border-radius: 10px;
    border: none;
    box-sizing: border-box;
}

/*lista desplegable */

.submenu:hover .sb {
    display: block;
    border-radius: 12px;
}

.submenu .sb {
    display: none;
    background: #ffa1a1;
    position: absolute;
    z-index: 2;
    /*z-index es para colocar un elemento sobre otros*/
    width: 10%;
}

.sb a {
    display: block;
}

/*ubicacion logo en la barra de navegación*/

.logri {
    position: absolute;
    top: 0;
    right: 0;
    margin: 23px;
}

/*Tamaño imagen*/

.logo img {
    width: 123px;
    height: 80px;
}

/*productos*/

.container {
    width: 100%;
    max-width: 1280px;
    height: 430px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    margin-top: 40%;
}

.container .card {
    height: 430px;
    width: 330px;
    border-radius: 8px;
    box-shadow: 0 0 7px #111;
    overflow: hidden;
    margin: 20px;
    text-align: center;
}

.container .card img {
    width: 200px;
    height: 220px;
}

.container .card h4 {
    font-size: 30px;
}

.container .card p {
    padding: 15px;
    font-size: 80x;
}

.container .card a {
    color: #f14444;
}

@media screen and (max-width: 1660px) {
    .container {
        display: flex;
        padding-top: 5%;
    }
}

/*fondo productos*/

.productos {
    display: flex;
    width: 1200px;
    background: #fbb4b4;
    padding: 20px 8px;
    margin: auto;
    margin-top: 100px;
    border-radius: 12px;
    margin-bottom: 90px;
    color: #fff;
}

/*division de pagina*/

.productos .box {
    flex: 1;
    width: 600px;
    max-width: 1200px;
    margin: 30px;
}

/*Boton*/

.productos .box button[type="submit"] {
    display: block;
    margin: 40px auto 0;
    padding: 15px 25px;
    background-color: #f14444;
    color: #fff;
    border: none;
    border-radius: 12px;
    cursor: pointer;
}

.productos .box button[type="submit"]:hover {
    background-color: #e69581;
}

/*********************************************************/

/*fondo pie de pagina*/

.pie-pagina {
    width: 100%;
    background: #eeada8;
}

/*divicion y espaciado del pie de pagina*/

.pie-pagina .info-1 {
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 45px 0px;
}

/*info imagen*/

.pie-pagina .info-1 .box figure {
    display: flex;
    justify-content: center;
}

.pie-pagina .info-1 .box figure img {
    width: 250px;
}

/*centrar los iconos*/

.pie-pagina .info-1 .red-social {
    text-align: center;
}

/*iconos redes*/

.pie-pagina .info-1 .red-social a {
    text-decoration: none;
    width: 45px;
    line-height: 45px;
    color: #fff;
    margin-right: 15px;
    background-color: #cf8e89;
    text-align: center;
    border-radius: 50px;
    transition: all 300ms ease;
}

/*color iconos redes boton*/

.pie-pagina .info-1 .red-social a:hover {
    color: rgb(255, 127, 238);
}

/*responsive pie de página*/

@media screen and (max-width:800px) {
    .pie-pagina .info-1 {
        width: 100%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 30px;
        padding: 35px 0px;
    }

    .pie-pagina .info-1 .box p {
        margin: 30px;
    }
}

/*copyrigth*/

.pie-pagina .copy{
    background-color: #cf8e89;
    padding: 15px 10px;
    text-align: center;
    color: #fff;
    z-index: 4;
}